

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=VT323&display=swap');

body{
    font-family: 'VT323', monospace;
    background-color: black;
}

header{
    height:100px;
}

.poxa{
   text-align: center;
   color: whitesmoke;
   font-size: 50px;
}

.botao{
    width: 100%;
    height:100px;
    font-size: 30px;
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'VT323', monospace;
    border: none;
    cursor:pointer;
	padding:6px 24px;
    background-color: black;

}

.escondido{
    text-align: center;
    color: black;
    font-size: 20px;
}

.escondido:hover{
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
}

footer{
    text-align: center;
    margin: 80px;
    color: whitesmoke
}